.homeLayout {
    .footer-homepage {
        color: var(--grey);
        background-color: var(--black);
        a {
            &:hover p {
                color: var(--orange);
            }
        }

        h3 {
            font-size: 20px;
        }
        h4 {
            color: var(--orange);
            font-size: 25px;
        }
        .footer-bot {
            a {
                position: relative;
                &::before {
                    background-color: var(--orange);
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 3px;
                    bottom: -10px;
                    left: 0;
                }
                &:hover::before {
                    width: 100px;
                    transition: 0.5s;
                }
            }
        }
    }
    .header {
        .menu {
            .nav-menu {
                li {
                    a {
                        color: white;
                        position: relative;
                        transition: color 0.3s ease-in-out;

                        &::before {
                            position: absolute;
                            content: "";
                            bottom: -5px;
                            left: 0;
                            width: 0;
                            height: 3px;
                            background-color: var(--orange);
                            transition: width 0.3s ease-in-out;
                        }

                        &.active::before {
                            width: 100%;
                        }
                        &.active {
                            color: var(--orange);
                        }
                    }
                }
            }
        }
    }
}

.header2 {
    background-color: black !important;
    li {
        a {
            color: black;
        }
    }
}
// .homeLayout {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
// }

// .homeLayout > .content {
//     flex: 1;
// }

.menu-mobile {
    width: 100%;
    padding: 20px 10px;
    margin: 0 auto;
    position: absolute;
    background-color: white;
    right: 0;
    top: 100%;

    a {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        font-size: 17px !important;
        width: 100%;
        border-bottom: 2px solid rgba(128, 128, 128, 0.211);
        padding: 10px 0;
        color: black;
        &.active {
            color: var(--orange);
            font-size: 600;
        }
    }
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-down {
    animation: slideDown 0.3s ease-in-out;
}
