@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
    --orange: #d96c2c;
    --white: #ffffff;
    --black: #000000;
    --grey: #f3f3f3;
    --gray: #2f2f2f;
    --text: #808080;
}
body {
    font-family: "Space Grotesk", serif;
    font-weight: 500;
}
img {
    width: 100%;
    display: block;
}

.layout-padding {
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
}
.layout {
    width: 80%;
    margin: 0 auto;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-cycle {
    border-radius: 50%;
}
.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 10px;
    i {
        color: var(--orange);
        font-size: 25px;
    }
    h3 {
        font-size: 40px;
        font-weight: 600;
    }
}
p,
a {
    color: var(--text);
}
@media (max-width: 1024px) {
}
//xl
@media (max-width: 1280px) {
}
//lg
@media (max-width: 1024px) {
}
//md
@media (max-width: 768px) {
    .layout,
    .layout-padding {
        width: 90%;
    }
}
// sm
@media (max-width: 640px) {
    .layout,
    .layout-padding {
        width: 95%;
    }
}
