.film-status {
    .title-status {
        border-bottom: 2px dotted var(--gray);
        h3 {
            font-size: 25px;
            color: var(--orange);
        }
        margin-bottom: 20px;
    }
}
