.search-film {
    position: absolute;
    top: 140%;
    right: 0;
    background-color: black;
    width: 300px;
    min-height: 500px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .triangle-up {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
        position: absolute;
        bottom: 100%;
        right: 5px;
    }
    .list-dangChieu {
        height: 400px;
    }
}
